* {
	margin: 0px;
	padding: 0px;
}
html, body {
	background-color: #552c1a;
	height: 100%;
	min-height: 100%;
	font-size: 12px;
}

#wrapper {
	background-color: #ffffff;
	width: 1000px;
	height: auto;
	min-height: 100%;
	margin-left: auto;
	margin-right: auto;
}

#header {
	background-color: #ffffff;
	height: 80px;
	width: 100%;
	border-bottom: 1px solid #552c1a;
}

#logo {
	color: #552c1a;
	font-size: 35px;
	text-shadow: 1px 1px 1px #552c1a;
	padding: 15px 0px 0px 15px;
}

#description {
	background-color: #ffffff;
	color: #552c1a;
	width: 700px;
	float: left;
	font-size: 14px;
	padding: 0px 0px 0px 15px;
}

#menu {
	background-color: #ffffff;
	color: #552c1a;
	width: 170px;
	float: right;
	padding: 12px;
	font-size: 14px;
	padding: 0px 0px 0px 35px;
}

#side {
	background-color: #ffffff;
	color: #552c1a;
	width: 150px;
	height: 100%;
	float: right;
	padding: 12px;
	border-left: 1px solid #552c1a;
}

h1 {
	font-size: 18px;
	margin-bottom: 4px;
}

#post {
	background-color: #ffffff;
	color: #552c1a;
	width: 800px;
	height: 100%;
	float: left;
	padding: 12px;
	text-align: justify;
	margin-bottom: 1px;
	border-bottom: 1px solid #552c1a;
}

#post p {
	margin-bottom: 10px;
}

#post p:last-child {
	margin-bottom: 0px;
}

#post a {
	color: #ff0000;
	background: inherit;
}

a {
	color:#552c1a;
	text-decoration: none;
	background:inherit;
}

pre {
	background-color: #f9f9f9;
	border-bottom-color: rgb(47, 111, 171);
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	border-right-color: rgb(47, 111, 171);
	border-right-style: dashed;
	border-right-width: 1px;
	border-top-color: rgb(47, 111, 171);
	border-top-style: dashed;
	border-top-width: 1px;
	border-left-color: rgb(47, 111, 171);
	border-left-style: dashed;
	border-left-width: 1px;
	color: #000000;
	line-height: 1.1em;
	padding-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 1em;
}
